---
// @ts-ignore
import { Icon } from "astro-icon/components";

const { heading, description, features } = Astro.props;
---

<div class="mt-16 md:mt-0">
  <h2
    class="text-4xl lg:text-5xl font-bold lg:tracking-tight"
    data-editable="text"
    data-prop="heading">
    {heading}
  </h2>
  <p
    class="text-lg mt-4 text-slate-600"
    data-editable="text"
    data-prop="description">
    {description}
  </p>
</div>

<div
  class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16"
  data-editable="array"
  data-prop="features">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start" data-editable="array-item">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          {item.icon && <Icon class="text-white" name={item.icon} />}
        </div>
        <div>
          <h3
            class="font-semibold text-lg"
            data-editable="text"
            data-prop="title">
            {item.title}
          </h3>{" "}
          <p
            class="text-slate-500 mt-2 leading-relaxed"
            data-editable="text"
            data-prop="description">
            {item.description}
          </p>
        </div>
      </div>
    ))
  }
</div>
